* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #d9dbd4;
}

.bg-row-gs{
  max-width: 1500px;
  margin: auto;
  background-color: #eaeaea;
}

.profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.bg-notify{
  background-color: #8edafc;
}
.fa-bell-slash{
  color: #8edafc;
}

.bg-message{
  background-image: url('../img/mine.jpg');
}

.message{
  display: flex;
  border-radius: 10px;
  padding: 10px 120px 10px 15px;
}

.sent{
  justify-content: end;
  background-color: #d5f9ba; 
}

.received{
  justify-content: start;
  background-color: white;
}

.band{
  height: 130px;
  background-color: #009688;
}
#root{
  margin-top: -100px;
}

p{
  font-size: 14px;
}
.contact-layout{
  cursor: pointer;
  border-bottom: 1.5px solid lightgray;
}
.contact:hover{
  background-color: #8ed9fc56;
}

.recent-contacts{
  overflow-y: auto;
  height: 830px;
}
