* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #d9dbd4;
}

.bg-row-gs{
  max-width: 1500px;
  margin: auto;
  background-color: #eaeaea;
}

.profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.bg-notify{
  background-color: #8edafc;
}
.fa-bell-slash{
  color: #8edafc;
}

.bg-message{
  background-image: url('../img/mine.jpg');
}

.msg-sent{
  display: flex;
  justify-content: end;
}

.msg-sent-decoration{
  background-color: #d5f9ba; 
  border-radius: 10px;
  padding: 10px 120px 10px 15px;
}
.msg-received{
  display: flex;
  justify-content: start;
}
.msg-received-decoration{
  background-color: white; 
  border-radius: 10px;
  padding: 10px 120px 10px 15px;
}
.band{
  height: 130px;
  background-color: #009688;
}
#root{
  margin-top: -100px;
}

p{
  font-size: 14px;
}
.contact{
  cursor: pointer;
}
.contact:hover{
  background-color: #8ed9fc56;
}